* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	font-family: 'Montserrat', sans-serif !important;
	border: 0;
	outline: 0;
}

body {
	background: #DADADA;
	color: #383838;
	font-size: 16px;
	line-height: 18px;
}

form {
	display: block;
	width: 500px;
	position: relative;
	margin: 50px auto 0;
}

.field {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	position: relative;

	color: #313131;
}

.field input {
	display: block;
	width: 100%;
	height: 35px;

	color: #383838;
	font-size: 16px;
	line-height: 20px;

	padding: 0 10px;
	border: 2px solid #DCDCDC;
	border-radius: 3px;
}

input[type="submit"] {
	display: block;
	width: 100%;
	height: 50px;

	background: #DB3333;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	padding: 0;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.field.gValid-error input { border-color: #DB3333; }

.gValid-error-message {
	position: absolute;
	bottom: 7px;
	right: 6px;

	background: #DB3333;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;

	display: inline-block;
	padding: 3px 5px;
	border-radius: 2px;
}

.test_block {
	display: block;
	width: 50px;
	height: 50px;
	margin: 30px;

	background: #DB3333;
}

.gValid-errorList {
	color: #FFFFFF;

	background: #db3333;
	padding: 5px 0;
	border-radius: 3px;
	margin-bottom: 20px;
}